.container{
	width: 100%;
	height: auto;
	background: lightgreen;
	text-align: center;
}
.box{
	width: 20%;
	height: 300px;
	background: palegoldenrod;
	margin: 20px;
	box-sizing: border-box;
	font-size: 50px;
	padding-top: 1px;
	text-align: center;
}
body{
	text-align: center;
}
.b{
	height: 10px;
	font-size: 30px;
}